<%= form_for @request do |f| %>
  <% if @request.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@request.errors.count, "error") %> prohibited
      this request from being saved:</h2>
    <ul>
    <% @request.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :uid %><br>
    <%= f.text_field :uid %>
  </p>
  <p>
    <%= f.label :fid%><br>
    <%= f.text_field :fid%>
  </p>
  <p>
    <%= f.label :status%><br>
    <%= f.text_field :status%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>